<div className="top">
<div className="topLeft">
  <img src="assets/img/logo.png" width="35%"/>
</div>
<div className="topCenter">
  <ul className="topList">
    <li className="topListItem">
      <Link className="link" to="/">
        HOME
      </Link>
    </li>
    <li className="topListItem">
      <Link className="link" to="/megazines">
        MEGAZINES
      </Link>
    </li>
    <li className="topListItem">
      <Link className="link" to="/contact">
        CONTACT
      </Link>
    </li>
    {/* <li className="topListItem">
      <Link className="link" to="/team">
        TEAM
      </Link>
    </li> */}
    <li className="topListItem">
      <Link className="link" to="/posts">
        POSTS
      </Link>
    </li>
    {/* <li className="topListItem">
      <Link className="link" to="/write">
        WRITE
      </Link>
    </li> */}
    <li className="topListItem" onClick={handleLogout}>
      {user && "LOGOUT"}
    </li>
  </ul>
</div>
<div className="topRight">
  {user ? (
    <Link to="/settings">
      <img className="topImg" src={PF+user.profilePic} alt="" />
    </Link>
  ) : (
    <ul className="topList">
      <li className="topListItem">
        <Link className="link" to="/login">
          LOGIN
        </Link>
      </li>
      <li className="topListItem">
        <Link className="link" to="/register">
          REGISTER
        </Link>
      </li>
    </ul>
  )}
  {/* <i className="topSearchIcon fas fa-search"></i> */}
</div>
</div>